name: Trigger auto deployment for openpet

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/openpet-AutoDeployTrigger-4df584a8-1f3f-4bdc-9e1d-521dccf8777d.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.OPENPET_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.OPENPET_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.OPENPET_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: openpetregistry.azurecr.io
          registryUsername: ${{ secrets.OPENPET_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.OPENPET_REGISTRY_PASSWORD }}
          containerAppName: openpet
          resourceGroup: rg-open-pet-platform
          imageToBuild: openpetregistry.azurecr.io/openpet:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


